{% extends 'layout.html' %}

{% block content %}
<div class="content-section about-tag">
    <h1>Welcome to Tulio</h1>
    <p  class="info">
    	Tulio is an ecome social media platform that was created in Zambia by Mundia who happens to be the CEO of the company. It was designed to overcome geography and give the country ease of access to products, goods and services. As tulio we are here to save you better. For better 
    	services create and account <a href="{{url_for('register')}}"> here</a> and you will be be served even better.
    </p>
    <p> if you already have an account you can sign in <a href="{{url_for('login')}}">here</a></p>
  </div>
{% endblock %}