<!DOCTYPE html>
<html>
<head>
	{% if title%}
       <title>Tulio-{{title}}</title>
	{%else %}
	<title class="title_style">Tulio</title>

	{%endif%}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top navsize">
    <div class="container">
      {% if current_user.is_authenticated%}
        <a class="navbar-brand mr-4 " href="{{url_for('home')}}">{{current_user.username}}@</a>
      {%endif%}
      <a class="navbar-brand mr-4 title_style" href="{{url_for('home')}}">Tulio</a>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
          <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
          <a class="nav-item nav-link" href="{{url_for('product_page')}}">Products</a>
           <input class="form-control ml-5" type="text" placeholder="Search Products" aria-label="Search">
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          <!-- Search form -->
         
          {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{url_for('new_post') }}">New Post</a>
            <a class="nav-item nav-link" href="{{url_for('account') }}">Account</a>
            <a class="nav-item nav-link" href="{{url_for('logout') }}">Logout</a>
          {%else %}
            <a class="nav-item nav-link" href="{{url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

<main role="main" class=".container"> 
	<div class="row">
		<div class="col-md">
      {% with messages = get_flashed_messages(with_categories=true)%}
      {%if messages%}
      {% for category, message in messages%}
      <div class="alert alert-{{category}}">
         {{message}}
      </div>
      {%endfor%}
      {%endif%}
      {% endwith%}

			{% block content%}
			{% endblock%}
		</div>
{#     {% if products%}
    {%else%}
		<div class="col-md-4">
			<div class="content-section">
				<h3>Categories</h3>
				<p class="text-muted"> We are here to serve you better
                 <ul>
                  <li>Ladies wears</li>
                  <li>Mens wear</li>
                  <li>Babies and Kids deliverables </li>
                 	<li>Electronics</li>
                 	<li>Food</li>
                 	<li>Poutry </li>
                 	<li>Farm Products </li>
                  <li>Farm inputs</li>
                  <li>Social</li>
                  <li>Sports</li>
                  <li>Travel</li>
                  <li>Telecommunications</li>
                  <li>Electrical Equipment</li>
                  <li>Vehicles</li>
                  <li>etc</li>
                 </ul>
				</p>
			</div>  
		</div>
    {% endif%} #}
     {# <this is where the side bar ends #}
	</div>
</main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


   <!--footer section for the website--> 
   <!-- Footer -->
<footer class="page-footer font-small navbar-dark bg-footer mr-2 ml-2">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Tulio</h5>
        <p>Tulio we serve your needs better and make it happen for you!!!!!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact us!!</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-links-brand" href="#!">Facebook</a>
          </li>
          <li>
            <a class="footer-links-brand" href="#!">twitter</a>
          </li>
          <li>
            <a class="footer-links-brand" href="#!">LinkedIn</a>
          </li>
          <li>
            <a class="footer-links-brand" href="#!">Instagram</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Email us</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-links-brand" href="#!">stacypizom@gmail.com</a>
          </li>
          <li>
            <a class="footer-links-brand" href="#!">tulioecom@hotmail.com</a>
          </li>
          <li>
            <a class="footer-links-brand" href="#!">kennedypizo@gmail.com</a>
          </li>
          <li>
            <a class="footer-links-brand" href="#!">mundiapizom@gmail.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Visit us</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-links-brand" href="#!">Sun Share building 3RD floor</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->  

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>