{% extends 'layout.html' %}

{% block content %}


<div class="content-section home-tag">
	<h4>Shoes section</h4>
	<div class="row">
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/1.jpeg') }}">
            <h3>$ 56.95</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/2.jpeg') }}">
            <h3>$ 11.95</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/3.jpeg') }}">
            <h3>$ 12.95</h3>
      </div ></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style"src="{{ url_for('static', filename='products/4.jpeg') }}">
            <h3>$ 13.95</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/5.jpeg') }}">
            <h3>$ 14.95</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/6.jpeg') }}">
            <h3>$ 17.95</h3>
      </div></br>
	</div>
</div>

<div class="content-section home-tag">
	<h4>Laptops</h4>
	<div class="row">
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/a.jpeg') }}">
            <h3>$234.67</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/b.jpeg') }}">
            <h3>$350.89</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/c.jpeg') }}">
            <h3>$245</h3>
      </div ></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style"src="{{ url_for('static', filename='products/d.jpeg') }}">
            <h3>$278.78</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/e.jpeg') }}">
            <h3>$130.79</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/f.jpeg') }}">
            <h3>$300.5</h3>
      </div></br>
	</div>
</div>

<div class="content-section home-tag">
	<h4>Mobile Phones</h4>
	<div class="row">
      <div class="col-sm-4 product-space ">
      	<img class="product-style" src="{{ url_for('static', filename='products/phone1.jpeg') }}">
            <h3>$ 111.38</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/phone2.jpeg') }}">
            <h3>$ 120.38</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/phone3.jpeg')}}">
            <h3>$ 119.38</h3>
      </div ></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style"src="{{ url_for('static', filename='products/phone4.jpeg') }}">
            <h3>$ 220.38</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/phone5.jpeg') }}">
            <h3>$ 138.38</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/phone6.jpeg') }}">
            <h3>$ 147.38</h3>
      </div></br>
	</div>
</div>

<div class="content-section home-tag">
	<h4>Sofas</h4>
	<div class="row">
      <div class="col-sm-4 product-space ">
      	<img class="product-style" src="{{ url_for('static', filename='products/i.jpeg') }}">
            <h3>$ 1500.75</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/ii.jpeg') }}">
            <h3>$ 1500.75</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/iii.jpeg') }}">
            <h3>$ 1500.75</h3>
      </div ></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style"src="{{ url_for('static', filename='products/iv.jpeg') }}">
            <h3>$ 1500.75</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/v.jpeg') }}">
            <h3>$ 1500.75</h3>
      </div></br>
      <div class="col-sm-4 product-space">
      	<img class="product-style" src="{{ url_for('static', filename='products/vi.jpeg') }}">
            <h3>$ 1500.75</h3>
      </div></br>
	</div>
</div> 

{% endblock %}


